<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="author" content="Fr3sh">
    <link rel="shortcut icon" href="/favicon.ico">
    <link type="text/css" href="{{ config.ASSETS_ROOT }}/css/base.css" rel="stylesheet">
    <link type="text/css" href="{{ config.ASSETS_ROOT }}/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    {% block scripts %}{% endblock %}
  </head>

  <body>
    {% block content %}{% endblock %}

    <footer class="footer py-6 bg-gray-800 text-white">
        <div class="container">
            <div class="row">
                <div class="col mb-md-0">
                   
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">
                        - coded with 💚 by <a target="_blank" href="https://fredtep.com">Fr3sh</a> -</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </body>

</html>